/* Background wrapper */

.signup-container {
  width: 100%;
  height: 100vh;
  background: #2e2f31;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card styling */
.signup-card {
  width: 380px;
  padding: 30px;
  background: rgb(120, 107, 107);
  border-radius: 12px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

/* Title */ 
.signup-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 18px;
  color: #222;
}

/* Form styling */
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.signup-form input,
.signup-form select {
  height: 40px;
  padding: 8px 10px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.signup-form input:focus,
.signup-form select:focus {
  border-color: #4a90e2;
}

/* Submit button */
.signup-btn {
  height: 45px;
  background: #4a90e2;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.signup-btn:hover {
  background: #3e7ac3;
}
